/* general */

.button {
    width: 175px;
    height: 56px;
    border: 1px solid black;
    text-align: center;
    padding: 19.5px;
    margin-top: 64px;
    color: black;
}
.image {
    display: block;
}
.text1 {
    margin-top: 30px;
    line-height: 140%;
}
.text2 {
    margin-left: 24px;
    align-self: flex-end;
    line-height: 120%;
}

/* fonts */

.heading1 {
    font-family: 'Poppins-semibold';
    font-size: 67px;
}
.heading2 {
    font-family: 'Poppins-semibold';
    font-size: 50px;
}
.heading3 {
    font-family: 'Poppins-medium';
    font-size: 38px;
}
.heading4 {
    font-family: 'Poppins-medium';
    font-size: 38px;
    margin-bottom: 109px;
}

.text-regular14 {
    font-family: 'Poppins-regular';
    font-size: 14px;
}
.text-regular16 {
    font-family: 'Poppins-regular';
    font-size: 16px;
}
.text-regular18 {
    font-family: 'Poppins-regular';
    font-size: 16px;
}

.text-medium14 {
    font-family: 'Poppins-medium';
    font-size: 14px;
}
.text-medium16 {
    font-family: 'Poppins-medium';
    font-size: 16px;
}
.text-medium18 {
    font-family: 'Poppins-medium';
    font-size: 18px;
}
.text-medium21 {
    font-family: 'Poppins-medium';
    font-size: 21px;
}
.text-medium38 {
    font-family: 'Poppins-medium';
    font-size: 38px;
}

.text-semibold16 {
    font-family: 'Poppins-semibold';
    font-size: 16px;
}

.text-black18 {
    font-family: 'Poppins-black';
    font-size: 18px;
}


/* header */

.header-wrapper {
    /* display: flex;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.header {
    display: flex;
    height: 83px;
    width: 100%;
    border-style: none none solid none;
    border-width: 1px;
}
.navigation {
    display: flex;
    
}
.nav-left {
    display: flex;
    justify-self: left;
}
.nav-middle {

}
.nav-right {
    display: flex;
    /* transform: translate(200%); */
}
.header-box1 {
    width: 180px;
    align-items: center;
    border-style: none solid none none;
    border-width: 1px;
    padding: 24px 32px 24px 32px;
}
.header-box2 {
    width: 180px;
    align-items: center;
    border-style: none none none solid;
    border-width: 1px;
    padding: 24px 32px 24px 32px;
}




/* section1 */

.section1-grid-container {
    display: grid;
    grid-template-columns: auto auto;
}
.section1-grid-box {
    /* border: 1px solid; */
    font-size: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    top: 0;
    left: 0;
}
.section1-grid-box::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 1px;
}
.section1-grid-box::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 1px;
    height: 100%;
}

.left-block1 {
    height: 720px;
    max-width: 720px;
    width: 100%;
    padding: 80px;
}
.line-horizontal {
    max-width: 560px;
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 30px 0 35px 0;
}
.left-block-div2 {
    display: flex;
}
.line-vertical {
    border-left: 1px solid;
    height: 256px;
    margin-left: 24px;
}
.title-box {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 157px 20px;
    font-size: 30px;
    text-align: center;
    height: 360px;
    max-width: 360px;
    width: 100%;
    border: 1px solid black;
}

/* section2 */

.section2-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.section2-grid-box {
    height: 600px;
    max-width: 720px;
    width: 100%;
    border: 1px solid black;
    padding: 80px;
    /* position: relative;
    top: 0;
    left: 0; */
}
.LuxeBouquets-h3 {
    margin-top: 24px;
}

/* .section2-grid-box::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 1px;
}
.section2-grid-box::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 1px;
    height: 100%;
} */



/* section3 */

.section3-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));;
}
.section3-left-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));;
}
.s3-title-box {
    height: 78px;
    max-width: 360px;
    width: 100%;
    border: 1px solid black;
    padding: 16px;
    text-align: center;
    background-color: white;
}
.s3-text-box {
    height: 282px;
    max-width: 360px;
    width: 100%;
    border: 1px solid black;
    padding: 105px 40px;
}
.s3-form {
    height: 360px;
    max-width: 720px;
    width: 100%;
    border: 1px solid black;
    padding: 80px
}
.s3-image {
    height: 642px;
}
.s3-text-flex {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.s3-icons {
    display: flex;
    max-width: 248px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.icon {
    margin-right: 3.5px;
}

/* section4 */

.section4 {
    width: 100%;
    height: 220px;
    text-align: center;
    padding: 80px;
    border: 1px solid black;
}

/* section5 */

.section5-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));;
}
.s5-grid-box {
    padding: 204px 80px;
    text-align: center;
    border: 1px solid black;
}
.s5-h2 {
    margin-top: 30px;
}
.button2 {
    /* transform: translate(100%); */
}

/* footer */

.footer {
    height: 429px;
}
.footer-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.footer-block1,
.footer-block2,
.footer-block3,
.footer-block4 {
    border: 1px solid black;
    height: 429px;
    padding: 40px;
}
.text3 {
    line-height: 160%;
}
.footer-title1 {
    margin-bottom: 24px;
    color: #808080;
}
.footer-title2 {
    color: #808080;
}