/* general */




/* fonts */

.heading1 {
    font-family: 'Poppins-semibold';
    font-size: 67px;
}
.heading2 {
    font-family: 'Poppins-semibold';
    font-size: 50px;
}
.heading3 {
    font-family: 'Poppins-medium';
    font-size: 38px;
}
.heading4 {
    font-family: 'Poppins-medium';
    font-size: 38px;
}

.text-regular14 {
    font-family: 'Poppins-regular';
    font-size: 14px;
}
.text-regular16 {
    font-family: 'Poppins-regular';
    font-size: 16px;
}
.text-regular18 {
    font-family: 'Poppins-regular';
    font-size: 16px;
}

.text-medium14 {
    font-family: 'Poppins-medium';
    font-size: 14px;
}
.text-medium16 {
    font-family: 'Poppins-medium';
    font-size: 16px;
}
.text-medium18 {
    font-family: 'Poppins-medium';
    font-size: 18px;
}
.text-medium21 {
    font-family: 'Poppins-medium';
    font-size: 21px;
}
.text-medium38 {
    font-family: 'Poppins-medium';
    font-size: 38px;
}

.text-semibold16 {
    font-family: 'Poppins-semibold';
    font-size: 16px;
}

.text-black18 {
    font-family: 'Poppins-black';
    font-size: 18px;
}

.font-grey {
    color: #808080;
}

/* header */

.header-wrapper {
    display: flex;
    align-items: center;
}
.header {
    display: flex;
    height: 83px;
    width: 100%;
    border-style: none none solid none;
    border-width: 1px;
}
.navigation {
    display: flex;
    
}
.nav-left {
    display: flex;
    justify-self: left;
}
.nav-right {
    display: flex;
    /* transform: translate(200%); */
}
.header-box1 {
    width: 180px;
    align-items: center;
    border-style: none solid none none;
    border-width: 1px;
    padding: 24px 32px 24px 32px;
}
.header-box2 {
    width: 180px;
    align-items: center;
    border-style: none none none solid;
    border-width: 1px;
    padding: 24px 32px 24px 32px;
}



/* section1 */

.section1-wrapper {
    display: flex;
}
.section1 {
    display: flex;
}
.left-block1 {
    height: 720px;
    max-width: 720px;
    width: 100%;
    border-style: none solid solid none;
    border-width: 1px;
    padding: 80px;
}
.line-horizontal {
    max-width: 560px;
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 30px 0 35px 0;
}
.text1 {
    margin-top: 30px;
    line-height: 140%;
}
.text2 {
    margin-left: 24px;
    align-self: flex-end;
    line-height: 120%;
}
.left-block-div2 {
    display: flex;
}
.line-vertical {
    border-left: 1px solid;
    height: 256px;
    margin-left: 24px;
}
.right-block1 {
    display: grid;
    grid-template-columns: auto auto auto;
}

/* section2 */

.section2-wrapper {
}
.section2 {
}

/* section1-2 boxes */

.title-box {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.arrow-icon {
}
.image-box {
}

/* section3 */

.section3-wrapper {
}
.section3 {
}
.left-block3 {
}
.right-block3 {
}
.button {
}

