/* general */

.button {
    width: 175px;
    height: 56px;
    border: 1px solid black;
    text-align: center;
    padding: 19.5px;
    margin-top: 30px;
    color: black;
}

.text1 {
    margin-top: 30px;
    line-height: 140%;
}
.text2 {
    margin-left: 24px;
    align-self: flex-end;
    line-height: 120%;
}

.image {
    display: block;
}
.image1-div {
    max-width: 100%;
    height: auto;
    overflow: hidden; 
    position: relative;
}
.image1 {
    width: 100%; 
    height: 100%;
    display: block;
    position: absolute;
    top: 0; 
    left: 0;
    object-fit: cover;
} 
.image2-div {
    max-width: 100%;
    height: 642px;
    overflow: hidden; 
}
.image2 {
    width: 100%; 
    height: 100%;
    display: block;
    object-fit: cover;
} 

/* fonts */

.heading1 {
    font-family: 'Poppins-semibold';
    font-size: 67px;
}
.heading2 {
    font-family: 'Poppins-semibold';
    font-size: 50px;
}
.heading3 {
    font-family: 'Poppins-medium';
    font-size: 38px;
}
.heading4 {
    font-family: 'Poppins-medium';
    font-size: 38px;
    margin-bottom: 109px;
}
.heading5 {
    font-family: 'Poppins-medium';
    font-size: 38px;
}

.text-regular16 {
    font-family: 'Poppins-regular';
    font-size: 16px;
}
.text-regular18 {
    font-family: 'Poppins-regular';
    font-size: 16px;
}

.text-medium14 {
    font-family: 'Poppins-medium';
    font-size: 14px;
}
.text-medium16 {
    font-family: 'Poppins-medium';
    font-size: 16px;
}
.text-medium18 {
    font-family: 'Poppins-medium';
    font-size: 18px;
}

.text-semibold16 {
    font-family: 'Poppins-semibold';
    font-size: 16px;
}

.text-black18 {
    font-family: 'Poppins-black';
    font-size: 18px;
}


/* header */

.header-wrapper {
    /* display: flex;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.header {
    display: flex;
    height: 83px;
    width: 100%;
    border-style: none none solid none;
    border-width: 1px;
}
.navigation {
    display: flex;
    
}
.nav-left {
    display: flex;
    justify-self: left;
}
.nav-middle {

}
.nav-right {
    display: flex;
    /* transform: translate(200%); */
}
.header-box1 {
    width: 180px;
    align-items: center;
    border-style: none solid none none;
    border-width: 1px;
    padding: 24px 32px 24px 32px;
}
.header-box2 {
    width: 180px;
    align-items: center;
    border-style: none none none solid;
    border-width: 1px;
    padding: 24px 32px 24px 32px;
}

/* test */

.section1-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(720px) minmax(1080px);
}
.section1-grid-container div {
    border: 1px solid black;
}
.right-top,
.right-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left-block {
    padding: 80px;
}
.line-horizontal {
    max-width: 560px;
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 30px 0 35px 0;
}
.left-block-div2 {
    display: flex;
}
.line-vertical {
    border-left: 1px solid;
    height: 256px;
    margin-left: 24px;
}
.title-box {
    padding: 100px 0;
    text-align: center;
}

/* section1 */

/* .section1-grid-container {
    display: grid;
    grid-template-columns: auto auto;
}
.section1-grid-box {
    font-size: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    top: 0;
    left: 0;
}
.section1-grid-box::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 1px;
}
.section1-grid-box::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 1px;
    height: 100%;
}

.left-block1 {
    height: 720px;
    max-width: 720px;
    width: 100%;
    padding: 80px;
}
.line-horizontal {
    max-width: 560px;
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 30px 0 35px 0;
}
.left-block-div2 {
    display: flex;
}
.line-vertical {
    border-left: 1px solid;
    height: 256px;
    margin-left: 24px;
}
.title-box {
    padding: 157px 20px;
    font-size: 30px;
    text-align: center;
    height: 360px;
    max-width: 360px;
    width: 100%;
    border: 1px solid black;
} */

/* section2 */

.section2-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.section2-grid-box {
    height: 600px;
    max-width: 720px;
    width: 100%;
    border: 1px solid black;
    padding: 80px;
    /* position: relative;
    top: 0;
    left: 0; */
}
.LuxeBouquets-h3 {
    margin-top: 24px;
}

/* .section2-grid-box::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 1px;
}
.section2-grid-box::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 1px;
    height: 100%;
} */



/* section3 */

.section3-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.s3-left {

}

/* left section top */

.s3-form {
    border: 1px solid black;
    padding: 80px;
}
.active3 {
    margin-top: 24px;
}
.call-form {
    margin-top: 16px;
}
.call-form button, 
.call-form input {
    max-width: 200px;
    width: 100%;
    height: 56px;
    text-align: center;
    padding: 19.5px;
    margin-top: 30px;
}
.call-form button {
    color: white;
    background-color: black;
    margin-left: 10px;
}
.call-form input {
    border: 1px solid #909090;
}

/* left section bottom */

.s3-left-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.s3-title-box {
    border: 1px solid black;
    padding: 16px;
    text-align: center;
    align-content: center;
}
.active2 {
    margin-bottom: 40px;
}
.s3-text {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    justify-content: center;
}

/* right section bottom */
.s3-icons-box {
    border: 1px solid black;
    padding: 16px;
    text-align: center;
    align-content: center;
    
}
.s3-icons {
    display: flex;
    max-width: 248px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.icon {
    margin-right: 3.5px;
}

/* section4 */

.section4 {
    width: 100%;
    height: 220px;
    text-align: center;
    padding: 80px;
    border: 1px solid black;
}

/* section5 */

.section5-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));;
}
.s5-grid-box {
    padding: 204px 80px;
    text-align: center;
    border: 1px solid black;
    display: grid;
}
.s5-h2 {
    margin-top: 30px;
}
.button-center {
    align-items: center;
    justify-self: center;
}

/* footer */

.footer {
    height: 429px;
}
.footer-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.footer-block1,
.footer-block2,
.footer-block3,
.footer-block4 {
    border: 1px solid black;
    height: 429px;
    padding: 40px;
}
.text3 {
    line-height: 160%;
}
.footer-title1 {
    margin-bottom: 24px;
    color: #808080;
    font-family: 'Poppins-medium';
    font-size: 21px;
}
.footer-title2 {
    color: #808080;
    font-family: 'Poppins-regular';
    font-size: 14px;
    margin-bottom: 8px;
}
.footer-text {
    font-family: 'Poppins-medium';
    font-size: 16px;
    margin-bottom: 8px;
}
.active {
    margin-bottom: 24px;
}
.email-form {
    margin-top: 16px;
}
.email-form button, 
.email-form input {
    max-width: 200px;
    width: 100%;
    height: 56px;
    text-align: center;
    padding: 19.5px;
    margin-top: 15px;
}
.email-form button {
    color: white;
    background-color: black;
}
.email-form input {
    border: 1px solid #909090;
}




